name: ci

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**.md'
      - .github/**
      - .gitignore
  pull_request:
    types: [assigned, opened, synchronize, reopened, labeled]
    paths-ignore:
      - '**.md'
      - .github/**
      - .gitignore

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

permissions: read-all

jobs:
  build-test:
    name: Run build & test
    runs-on: ubuntu-22.04
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit

    - name: Get github app token
      uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e  # v2.0.6
      id: gh-app-token
      with:
        app-id: ${{ vars.GH_APP_ID }}
        private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

    - name: Checkout
      uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.5.4

    - name: Prepare pre-requisites
      uses: ./.github/actions/prepare
      with:
        token: ${{ steps.gh-app-token.outputs.token }}

    - name: Style
      run: |
        pnpm style

    - name: Build
      run: |
        pnpm build

    - name: Test
      run: |
        pnpm test
