name: Version or Publish Package

on:
  workflow_dispatch:
    inputs:
      version_tag:
        required: true
        description: The release version
        type: string

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  id-token: write
  contents: write
  attestations: write
  actions: write
  pull-requests: write

jobs:
  provenance:
    uses: slsa-framework/slsa-github-generator/.github/workflows/builder_nodejs_slsa3.yml@f7dd8c54c2067bafc12ca7a55595d5ee9b75204a # v2.0.0
    with:
      run-scripts: "install-pnpm, install-deps, style, build"
      node-version: "22.18.0"
      rekor-log-public: true

  release:
    needs: [provenance]
    name: Version or Publish
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit

      - name: Download Artifacts
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16  # v4.1.8

      - name: Get github app token
        uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e  # v2.0.6
        id: gh-app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: Checkout Repo
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.5.4
        with:
          token: ${{ steps.gh-app-token.outputs.token }}

      - name: Prepare pre-requisites
        uses: ./.github/actions/prepare
        with:
          token: ${{ steps.gh-app-token.outputs.token }}

      - name: Create temp dir
        id: temp-dir
        run: |
          set -euo pipefail

          temp_dir=$(mktemp -d)
          echo "path=${temp_dir}" >>"${GITHUB_OUTPUT}"

      - name: Download tarball
        uses: slsa-framework/slsa-github-generator/.github/actions/secure-download-artifact@3bcecb4ade4f265cff30488059a9dca39e26b360 # main
        with:
          name: ${{ needs.provenance.outputs.package-download-name }}
          path: "${{ steps.temp-dir.outputs.path }}/${{ needs.provenance.outputs.package-name }}"
          sha256: ${{ needs.provenance.outputs.package-download-sha256 }}

      - name: Download provenance
        uses: slsa-framework/slsa-github-generator/actions/nodejs/secure-attestations-download@3bcecb4ade4f265cff30488059a9dca39e26b360 # v1.6.0
        with:
          name: ${{ needs.provenance.outputs.provenance-download-name }}
          path: "${{ steps.temp-dir.outputs.path }}"
          sha256: ${{ needs.provenance.outputs.provenance-download-sha256 }}

      - name: Unpack the zipped artifact
        run: |
          set -euo pipefail
          cd "${{ steps.temp-dir.outputs.path }}"
          tar -xzvf "${{ needs.provenance.outputs.package-name }}" -C $GITHUB_WORKSPACE --strip-components=1
          cd "$GITHUB_WORKSPACE"
          pnpm run install-deps

      - name: Publish to NPM
        id: changesets
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          setupGitUser: false
          version: pnpm ci:version
          title: "ci: Update the version packages"
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ steps.gh-app-token.outputs.token }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          # NPM_CONFIG_PROVENANCE: true # COMMENTED OUT UNTIL THE REPO GOES PUBLIC

      # - name: Generate SBOM
      #   uses: anchore/sbom-action@7b36ad622f042cab6f59a75c2ac24ccb256e9b45
      #   with:
      #     artifact-name: sbom-${{ github.event.repository.name }}-${{ inputs.version_tag }}.spdx.json
      #     output-file: /${{ steps.temp-dir.outputs.path }}/sbom-${{ github.event.repository.name }}-${{ inputs.version_tag }}.spdx.json
      #     upload-artifact: false
      #     upload-release-assets: false

      # - name: Download Artifacts
      #   uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16

      # - name: Upload attestations SLSA
      #   uses: actions/attest-build-provenance@e8998f949152b193b063cb0ec769d69d929409be
      #   with:
      #     subject-path: ${{ needs.provenance.outputs.provenance-download-name }}
      #     subject-name: ${{ github.event.repository.name }}-${{ inputs.version_tag }}

      # - name: Upload attestations SBOM
      #   uses: actions/attest-build-provenance@e8998f949152b193b063cb0ec769d69d929409be
      #   with:
      #     subject-path: /${{ steps.temp-dir.outputs.path }}/sbom-${{ github.event.repository.name }}-${{ inputs.version_tag }}.spdx.json
